@keyframes headerAnimation{
    from{
        opacity: 0;
        top: -100%;
    }
    to{
        opacity: 1;
        top: 0;
    }
}

@keyframes aboutMenu{
    from{
        opacity: 0;
        top: 0;
    }
    to{
        opacity: 1;
        top: 40px;
    }
}

@keyframes loadingAnimation{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}
