@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root{
    --special-font: 'Rakkas', cursive;
    --form-title-font: 'Modak', cursive;
    --form-desc-font: 'Fredoka One', cursive;
    --background-color: #F5E7C1;
    --primary-color: #FF5D47;
    --form-color: #FAC7B1;
    --form-text-color: #FF5D47;
    --text-color: #121212;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url('../image/header_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inter', sans-serif;
    position: relative;
}
.nav-pc{
    width: 100%;
    padding: 18px 30px;
    background-color: white;
    position: relative;
    top: 20px;
    border-radius: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}
.nav-pc__list{
    display: flex;
    align-items: center;
}
.nav-pc__logo img,.nav-pc__logo-scroll img{
    width: 93px;
    height: 60px;
    object-fit: contain;
}
.nav-pc__links, .nav-pc__links-scroll{
    margin-left: 50px;
    display: flex;
    align-items: center;
}
.nav-pc__item,.nav-pc__item-scroll{
    margin-right: 35px;
    cursor: pointer;
}
.nav-pc__item__title{

}
.nav-pc__menu,.nav-pc__menu-scroll{
    padding: 15px 35px;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    color:var(--primary-color);
    cursor: pointer;
    transition: all 0.2s linear;
}
.nav-pc__menu:hover,.nav-pc__menu-scroll:hover{
    background-color: var(--primary-color);
    color: white;
}
.product{
    width: 100%;
    padding: 128px 0;
    background-color: var(--background-color);
    position: relative;
    font-family: 'Inter', sans-serif;
}
.header-wave__bottom{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: -5px;
}
.header-wave__bottom img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.header-scroll{
    display: none;
}
.header-scroll.active{
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 10;
    display: block;
    animation: headerAnimation 0.3s ease;
}

.nav-pc__title-about{
    position: relative;
}
.nav-pc__about{
    position: absolute;
    top: 40px;
    left: -20px;
    padding: 20px;
    background-color:  white;
    z-index: 2;
    display: none;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    border: 1px solid #ccc;
    animation: aboutMenu .5s ease;
}
.nav-pc__about__item{
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}
.nav-pc__about__item a{
    text-decoration: none;
    color: var(--text-color);
}
.nav-pc__about__item__title{
    white-space: nowrap;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    transition: all .2s ease;
}
.nav-pc__about__item__title:hover{
    color: var(--primary-color);
    font-weight:500;
}
.nav-pc__about::before{
    content: "";
    position: absolute;
    top:  -25px;
    width: 60px;
    height: 25px;
    background-color: transparent;
}   
.nav-pc__title-about:hover .nav-pc__about{
    display: block;
}
.nav-pc__list__cart{
    display: flex;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #F1F1F1;
    justify-content:center;
    align-items:center;
    margin: 0 25px;
    cursor: pointer;
}
.product-pc__list__cart-icon{
    margin-right: 5px;
    margin-top: 2px;
}
.product-pc__list__cart-value__content{
    font-size: 16px;
}
.nav-pc__list__cart-phone{
    text-align: right;
}
.nav-pc__list__cart-phone__title{
    font-size: 16px;
}
.nav-pc__list__cart-phone__number{
    cursor: pointer;
}
.nav-pc__list__cart-phone__number a{
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}

.header__main-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: white;
}
.header__main-content__title{
    font-size: 50px;
    font-family: var(--special-font);
}
.header__main-content__desc{
    font-size: 20px;
}


.nav-mobile-scroll{
    display: none;
}
.nav-pc-scroll{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}
.nav-pc__list-scroll{
    display: flex;
    align-items: center;
}
.product{
    position: relative;
}
.product-wave-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.product-wave-bottom img{
    width: 100%;
    height: auto;
    object-fit:cover;
}
.nav-mobile__wrap{
    display: none;
}




.product-content__wrap{
    display: flex;
    justify-content: space-between;
}
.product-content__child{
    width: 100%;

}
.product-content__cart{
    width: 100%;
}
.product-content__cart__title{
    font-family: var(--special-font);
    margin-bottom: 30px;
}
.product-content__cart__content-empty,.product-content__cart__content-notempty{
    display: none;
}
.product-content__cart__content-empty.active, .product-content__cart__content-notempty.active{
    display: block;
}


.product-item__link{
    text-decoration: none;
    color: var(--text-color);
}
.product-item__link:hover{
    color: var(--text-color);
}
.product-item{
    width: 100%;
    padding: 32px;
    background-color: white;
    border-radius:30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    min-height: 536.323px;
    transition: all 0.3s ease;
}
.product-item:hover{
    box-shadow: 8px 11px 15px #3333;

}
.product-item__image img{
    width: 100%;
    height: 205px;
    object-fit: contain;
}
.product-item__type{
    font-size: 13px;
    font-weight: 600;
}
.product-item__title{
    font-size: 30px;
    font-weight: 700;
}
.product-item__price{
    font-size: 16px;
    font-weight:600;
}
.product-item__price__value{
    font-size: 16px;
}
.product-item__btn{
    display: inline-block;
    text-align: center;
    font-size: 14px;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin-top:auto;
}
.submit{
    width: 100%;
    background-color: var(--form-color);
    padding: 128px 0 128px 0;
    position: relative;
}
.submit-image{
    display: flex;
    justify-content:center;
}
.submit-image__child{
    width: 70%;
    height: 400px;
    object-fit: contain;
    position: relative;
    animation: cakeAnimation 3.5s linear infinite;
}
.submit-title{
    width: 100%;
    text-align: center;
    margin-top: 60px;
}
.submit-title__text{
    font-size: 80px;
    font-family: var(--form-title-font);
    color: var(--form-text-color);
}
.submit-title__desc{
    font-size: 30px;
    font-family: var(--form-desc-font);
    margin-top: -30px;
}
.submit-form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: 40px auto 0 auto;
    background-color: white;
    border-radius:50px;
    padding-left: 20px;
    font-family: 'Inter', sans-serif;
}
.submit-form__input{
    padding-left: 20px;
    flex: 1;
    border: none;
    outline: none;
}

.submit-form__btn{
    padding: 20px 38px;
    border-radius:50px;
    margin-left: 10px;
    background-color: var(--form-text-color);
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.submit-wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.submit-wave img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.footer{
    font-family: 'Inter', sans-serif;
    width: 100%;
    background-color: #FDF2E7;
    padding: 64px 0 40px 0;
}
.footer-nav{
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid var(--form-text-color);
}
.footer-nav__list{
    display: flex;
}
.footer-nav__list__item{
    margin-right: 20px;
    color:var(--form-text-color);
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}
.footer-copyright{
    width: 100%;
    text-align: center;
    padding-top: 20px;
    color: var(--form-text-color);
}
.footer-nav__social{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.footer-nav__social__item{
    margin-left: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    background-color:var(--form-text-color);
    cursor: pointer;
    transition: all 0.3s ease;
}
.footer-nav__social__item:hover {
    background-color: #f78778;
}
.footer-nav__social__item i{
    color: white;
}



/*Cart Column Layout*/
.cart__content__list{
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.cart__content__item{
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px 0;
}
.cart__content__item__image{
    width: 58px;
    height: 58px;
    border-radius:10px;
    background-color: white;
    padding: 10px;
}
.cart__content__item__image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cart__content__item__content{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.cart__content__item__content__title{
    width: 165px;
    font-size: 16px;
    font-weight:700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}
.cart__content__item__content__info{
    display: flex;
    font-size: 14px;
    font-weight: 600;
}
.cart__content__item__content__info__value{
    margin-right: 5px;
}
.cart__content__item__content__info__price__icon{
    margin: 0 10px;
}
.cart__content__item__content__info__price-child{
    margin-left: -2px;
}
.cart__content__item__icon{
    position: absolute;
    top: 10px; 
    right: 5px;
    cursor: pointer;
    font-size: 12px;
}
.cart__content__nav__cart{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart__content__nav__cart__title{
    font-size: 16px;
    font-weight: 700;
}
.cart__content__nav__cart__total{

}
.cart__content__nav__cart__total-value{
    margin-left: -2px;
}
.cart__content__nav__cart__btn{
    display: flex;
    justify-content: space-between;
}
.cart__content__nav__cart__btn-child{
    width: 45%;
    height: 50px;
    background-color: var(--primary-color);
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height:50px;
    border-radius:20px;
    cursor: pointer;
    transition: all .3s ease;
}
.cart__content__nav__cart__btn-child:hover{
    background-color: #eb8173;
}


/*Loading Layout*/
.modal-loading{
    display: none;
}
.modal-loading.active{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0,0,0,.3);
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
}
.modal-loading__content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border-top: 6px solid #4C0AA7;
    border-bottom: 6px solid #4C0AA7;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-radius: 50%;
    animation: loadingAnimation .8s infinite ease;
}